{% extends 'base.html' %}

{% block content %}

<section class="container-fluid">
        <div class="row bg-color-contact">
            <div>
                <h3 class="contact-heading uppercase text-center">Got a question for us, or fancy a colaboration?</h3>
                <h5 class="uppercase text-center">Let's work together</h5>
            </div>
            <div class="center-form">
                <form onsubmit="return sendMail(this);" method="POST">
                    <input type="text" name="name" class="form-control" id="full-name" placeholder="Name" required/>
                    <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                    <textarea rows="5" name="projectsummary" class="form-control" id="projectsummary" placeholder="Project Description" required/></textarea>
                    <button type="submit" class="btn btn-secondary center-block">Send Project Request</button>
                </form>
            </div>
        </div>
    </section>

    {% endblock %}