{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="col row-flex">

		<h1>User Reviews for {{ product }} </h1>
		<a href="{% url 'create_an_item' product.id %}">Add an item</a> <!-- Add link to create an item  -->
		<table>

			{% for item in items %}
			<ul>
				{% if item.done %}
				<li class="reviewitem"><strike>{{ item.name }}</strike></li>
				{% else %}
				<div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>

				<div class="caption">
					<h3>{{ item.product.name }}</h3>
					<li class="reviewitem"><h5>Product:</h5> {{ product.name }}</li>
					<li class="reviewitem"><h5>Name:</h5> {{ item.name }}</li>
					<li class="reviewitem"><h5>Review:</h5> {{ item.review }}</li>
					<li class="reviewitem"><h5>Rating out of 5:</h5> {{ item.rating }}</li>
					<li class="reviewitem"><h5>Date:</h5> {{ item.date }}</li>
					<br>
                {% endif %}
            </ul>

					{% endfor %}
		</table>
		<a href="{% url 'create_an_item' product.id %}">Add an item</a> <!-- Add link to create an item  -->

	</div>
</div>

{% endblock %}