/*------------------------------------Navbar*/
.logo {
    width: 200px;
    max-height: 100px;    
}

.navbar {
    border-color: #fff;
    background-color: #fff;
    background-image: unset; /*Over-rides Bootstrap default*/
}

#navbar {
    border-color: #fff;
    background-color: #fff;
    background-image: unset; /*Over-rides Bootstrap default*/
}

.navbar-toggle {
    background-color: black;
    border-color: black;
}

.navbar .navbar-toggle:hover {
    background-color: pink;
    border-color: #fff;
}

/*Over-rides Bootstrap Navbar Hover colour*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: pink;
}

.navbar-nav {
   background-color: #fff; 
}

.navbar-header {
    background-color: #fff; 
}

.menuitem {
    height: auto;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding: 0;
    font-weight: bolder;
    color: #4B494A;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #4B494A;;
    height: auto;
}

.menuitem a i {
    padding-top: 22px;
    display: inline;
    color: #4B494A;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #4B494A;
} 

/*Should control Hover speed*/
.hvr-pulse {
    animation: pulse 50s infinite;   
}

/*------------------------------------Body*/

h2 {
    background-color: pink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#search-bar {
    background-color: pink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body {
    font-family: Arial;
    padding-top: 100px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/*-----------------------------------Footer*/

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}