@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700|Audiowide:100,200,300,400,500,600,700|Righteous:100,200,300,400,500,600,700|Kanit:100,200,300,400,500,600,700');

/*------------------------------------Navbar*/
.logo {
    width: 200px;
    max-height: 100px;   
}

.navbar {
    border-color: #fff;
    background-color: #fff;
    background-image: unset; /*Over-rides Bootstrap default*/
}

#navbar {
    border-color: #fff;
    background-color: #fff;
    background-image: unset; /*Over-rides Bootstrap default*/
}

.navbar-toggle {
    border-color: black;
    background-color: black;
}

.navbar-default .navbar-toggle {
    border-color: #555555;
    background-color: #555555 !important;
}    

.navbar .navbar-toggle:hover {    
    border-color: #fff;
    background-color: #c67605 !important;
}

/*Over-rides Bootstrap Navbar Hover colour*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    border-color: #F5F5F5;
    background-color: #F5F5F5;
}

.navbar-nav {
   background-color: #fff; 
}

.navbar-header {
    background-color: #fff; 
}

.menuitem {
    height: auto;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    padding: 0;
    font-weight: bolder;
    color: #4B494A;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #4B494A;
    height: auto;
}

.menuitem a i {
    padding-top: 22px;
    display: inline;
    color: #4B494A;
    text-shadow: 1px 1px #E2AA72;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #4B494A;
    text-shadow: 1px 1px #E2AA72;
} 

/*Should control Hover speed*/
.hvr-pulse {
    animation: pulse 50s infinite;   
}

/*------------------------------------Body*/

.statement {
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    color: #E2AA72;
    text-shadow: 1px 1px #4B494A;
    text-align: center;
    display: block;    
}

#search-bar {
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
}

/* Input for search bar */
.search-input {  
    margin: 10px 10px 0px 20px
}

body {
    font-family: Arial;
    padding-top: 100px;
    padding-bottom: 100px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.brewery-name {
    font-weight: bolder;
    color: #c67605;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.product-info {
    float: right;    
}

.product-info-phone {
    padding-left: 0px;
    padding-right: 0px;    
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.panel-two {
    padding-right: 15px;
    padding-left: 15px;
}

.logo-info {
    padding-left: 170px;
}

.product-description {
    min-height: 40px;
}

.product-info-header {
    font-weight: bolder;
    min-height: 40px;
}

.product-blurb {
    font-style: italic;
    min-height: 40px;
    display: block;    
}

.bottle-size {
    font-weight: bolder;
}

.alcohol-cont {
    font-weight: bolder;  
}

/*-----------------------------------Footer*/

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.navbar-fixed-bottom {
    display: inline-block;
    background-color: #FFFFFF;
}

.copyright {
    color: #1B1919;
    text-shadow: 1px 1px #E2AA72;
    margin-top: 30px;
    text-align: center;
    display: block;
    font-weight: bolder;
}

.footer-logo {
    text-align: center;
    display: block;
}

.social-links {
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px ! important;
}

.social-links li a i {    
    margin-top: 10px ! important;
    margin-bottom: 0px ! important;
    display: centre;
    text-shadow: 1px 1px #c67605;
    width: 50px;
    height: 50px;
    padding: 12px 0px 0px 0px ! important;    
    font-size: 40px;
    line-height: 25px;    
    color: #1B1919;   
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background: #F5F5F5;
    
}

/*------------------------------------Media queries*/

@media (min-width: 768px) and (max-width: 991px) {

/*Media query added, as no Bootstrap measurement for Ipad resolution*/
.panel-two-phone {
    display: none;
}

}

